<% include partials/header.ejs %>

    <h1>About Me</h1><br><br>
    <img class="center" src="images/2.png" width="300" height="300" alt="shahriar"><br><br>
    <p id="aboutText">Hello my name is Shahriar Moinuddin and I’m a Full Stack Web Developer I am passionate about
        building
        excellent software that improves the lives of those around me I’ve developed a far range of products
        ranging from websites, databases, responsive mobile applicationsmand games.</p>

    <P id="aboutText">Here are a few technologies I’ve been working with recently</p>
    <br><br>
    <i id="languageLogo" class="devicon-csharp-plain-wordmark colored"></i>
    <i id="languageLogo" class="devicon-python-plain-wordmark colored"></i>
    <i id="languageLogo" class="devicon-javascript-plain colored"></i>
    <i id="languageLogo" class="devicon-html5-plain-wordmark colored"></i>
    <i id="languageLogo" class="devicon-css3-plain-wordmark colored"></i>
    <i id="languageLogo" class="devicon-mysql-plain-wordmark colored"></i>
    <i id="languageLogo" class="devicon-java-plain-wordmark colored"></i>
    <i id="languageLogo" class="devicon-nodejs-plain colored"></i>
    </body><br><br>

    </html>

    <% include partials/footer.ejs %>