<% include partials/contact_header.ejs %>

    <h1 id="textLarge">
        <%= title %>
    </h1><br>
    <!-- phone and email -->
    <div id=contactLogo>
        <a href="tel:+16477688021"><i class="fas fa-phone-square"></i></a>
        <a href="mailto:shahriar.cmcr@gmail.com"><i class="fas fa-envelope-open-text"></i></a>
    </div><br><br>
    <div class="container">
    <fieldset>
        <!-- fillable form -->
        <h2>Please complete all the fields below</h2><br>

        <form name='regForm'>
            <p><label for="fname">First name:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="text" name="fname" tabindex="1" size="27" />
            </p>
            <p><label for="lname">Last name:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="text" name="lname" tabindex="3" size="27" />
            </p>
            <p><label for="email">Email:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="text" name="email" tabindex="5" size="27" />
            </p><br><br>
            <p><label for="phone">Phone:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="number" name="phone" tabindex="7" size="27" />
            </p><br><br>
            <p><label for="messeage">Message:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                ​<textarea id="txtArea" name="messeage" rows="5" cols="25"></textarea><br><br>


                <input class="button" type="submit" name="submit" value="Register Now" tabindex="21"
                    onClick="return formValidation();" />
                <input class="button" type="reset" name="reset" value="Clear Form" tabindex="21"
                    onClick="return confirmreset()" />

 
        </form><br>
    </fieldset>
    </div>
    <% include partials/contact_footer.ejs %>