<% include partials/header.ejs %>
  
  
  <h1><%= title %></h1>
  <h2 id="textLarge">My Mission</h2>
  <p id="aboutText">My mission is to develop projects with innovation and efficiency and to solve real life and business
    problems.</p><br><br>
  
</body>
</html>

<% include partials/footer.ejs %>
