<% include partials/header.ejs %>
  
<h1><%= title %></h1>
<div id="projects">
    <h3>Software Requirements Specification for Online clothing store</h3>
    <p>The Online Clothing Store software (OCSS) web and mobile application version is intended to
        provide easy, intuitive online shopping experience for online apparel shippers</p>
    <p>Technical: Microsoft Word, PowerPoint, Visio, Diagrams.net.</p>
</div><br>

<div id="projects">
    <h3>Swimming-Manager-Application</h3>
    <p>The Online Clothing Store software (OCSS) web and mobile application version is intended to
        provide easy, intuitive online shopping experience for online apparel shippers</p>
    <p>Technical: Microsoft Word, PowerPoint, Visio, Diagrams.net.</p>
</div><br>

<div id="projects">
    <h3>Swimming manager app to organize all the swimmers, their assigning clubs, their skill and their
        participating events .</h3>
    <p>The Online Clothing Store software (OCSS) web and mobile application version is intended to
        provide easy, intuitive online shopping experience for online apparel shippers</p>
    <p>Technical: C#</p>
</div><br><br>
</body>
</html>

<% include partials/footer.ejs %>