<% include partials/header.ejs %>
  
<h1 id="textLarge"><%= title %></h1>
<!-- project description -->
<div id="projects">
    <h3>Software Requirements Specification for Online clothing store</h3>
    <p>The Online Clothing Store software (OCSS) web and mobile application version is intended to
        provide easy, intuitive online shopping experience for online apparel shippers</p>
    <p>Technical: Microsoft Word, PowerPoint, Visio, Diagrams.net.</p>
    <img class="center" src="/images/p3.jpg" width="400" alt="shahriar"><br><br>
</div><br>

<div id="projects">
    <h3>Swimming-Manager-Application</h3>
    <p>Swimming manager app to organize all the swimmers, their assigning clubs, their skill and their
        participating events.</p>
    <p>Technical: Microsoft Word, PowerPoint, Visio, Diagrams.net.</p>
    <img class="center" src="/images/p1.png" width="400" alt="shahriar"><br><br>
</div><br>

<div id="projects">
    <h3>Bug smasher game</h3>
    <p>Little touch based game for fun</p>
    <p>Technical: HTML/CSS, JS</p>
    <img class="center" src="/images/p2.png" width="400" alt="shahriar"><br><br>
</div><br><br>


<% include partials/footer.ejs %>