<% include partials/header.ejs %>
  
<h1><%= title %></h1>

    <p id="aboutText">Here are a few of the services I can provide you!</p>
	<table class="tableCenter" style="width: 50%">
        <!-- Header Row-->
        <tr>
          <td class="serviceTable"><img src="/Images/csharp.png" width="100" height="100">
            <figcaption class="figure-caption">General Programming Services</figcaption>
          </td>
          <td class="serviceTable"><img src="/Images/mean.jpg" width="100" height="100">
            <figcaption class="figure-caption">Mean Stack Web Development</figcaption>
          </td>
          <td class="serviceTable"><img src="/Images/threejs.png" width="100" height="100">
            <figcaption class="figure-caption">Game Programming</figcaption>
          </td>
        </tr>
        <tr>
          <td class="serviceTable"><img src="/Images/mobileapp.png" width="100" height="100">
            <figcaption class="figure-caption">Mobile App Development</figcaption>
          </td>
          <td class="serviceTable"><img src="/Images/business.png" width="100" height="100">
            <figcaption class="figure-caption">Business Analyzing</figcaption>
          </td>
          <td class="serviceTable"><img src="/Images/database.jpg" width="100" height="80">
            <figcaption class="figure-caption">Database Management</figcaption>
          </td>
        </tr>

      </table><br><br>

</body>
</html>

<% include partials/footer.ejs %>